In [33]:
import pandas as pd
import matplotlib.pyplot as plt 
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import numpy as np # linear algebra

In [34]:
df = pd.read_csv('../data/bob-ross/elements-by-episode.csv')  
#df.iloc[1:len(df):100]

df.rename(columns={'EPISODE':'EPISODE (123)'} , inplace=True)
df.rename(columns=lambda x: ''.join([c for c in x if c.isalpha()]), inplace=True) 
df.iloc[0:len(df):70]

,EPISODE,TITLE,APPLEFRAME,AURORABOREALIS,BARN,BEACH,BOAT,BRIDGE,BUILDING,BUSHES,...,TOMBFRAME,TREE,TREES,TRIPLEFRAME,WATERFALL,WAVES,WINDMILL,WINDOWFRAME,WINTER,WOODFRAMED
0,S01E01,"""A WALK IN THE WOODS""",0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,0
70,S06E06,"""SNOW TRAIL""",0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
140,S11E11,"""GOLDEN GLOW""",0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,0
210,S17E03,"""SOOTHING VISTA""",0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
280,S22E08,"""DEEP WILDERNESS HOME""",0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,0
350,S27E13,"""GOLDEN GLOW OF MORNING""",0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0

In [39]:
df['APPLEFRAME'].value_counts()

0    402
1      1
Name: APPLEFRAME, dtype: int64

           country  net_approval  Approve  Disapprove  DK/Refused
11          Russia           -21       28          49          23
4          Hungary           -45       18          63          19
5            Italy           -48       18          66          17
3           Greece           -54       17          71          13
10  United Kingdom           -55       17          72          11
0           Canada           -63       15          78           7
1           France           -68       15          83           2
7           Poland           -45       14          59          27
2          Germany           -68       13          81           5

             days
president
Bush 41    1469.0
Bush 43    2946.0
Carter     1462.0
Clinton    2923.0
Obama      2924.0
Reagan     3013.0
Trump       713.0